<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-template">
    {{#link-to 'index' class='navbar-brand'}}
      {{church.name}}
    {{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {{#link-to 'notices' class='nav-link'}}
            Notices
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'ministries' class='nav-link'}}
            Ministries
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'audios' class='nav-link'}}
            Messages
          {{/link-to}}
        </li>
        {{#if pages}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
            <div class="dropdown-menu dropdown-menu-right">
              {{#each pages as |page|}}
                {{#link-to 'page' page.id class='dropdown-item'}}
                  {{page.title}}
                {{/link-to}}
              {{/each}}
              {{#link-to 'contact' class='dropdown-item'}}
                Contact
              {{/link-to}}
            </div>
          </li>
          {{else}}
          <li class="nav-item">
            {{#link-to 'contact' class='nav-link'}}
              Contact
            {{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>
