<footer class="footer mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="text-muted float-right powered">
          powered by <a href="#"><strong>Mustard</strong></a>
        </span>
      </div>
    </div>
  </div>
</footer>
