<footer class="footer mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="text-muted float-right small">
          powered by <a href="#">Little Church</a>
        </span>
      </div>
    </div>
  </div>
</footer>
