<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {{#link-to 'index' class='navbar-brand'}}
      OLIVE TREE
    {{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to 'index' class='nav-link'}}
            {{material-icon "home"}}
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'about' class='nav-link'}}
            About
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'notices' class='nav-link'}}
            Notices
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'media' class='nav-link'}}
            Media
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'contact' class='nav-link'}}
            Contact
          {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
</header>
