<div id="this-week">
  {{#each-in weekSchedule as |week schedule|}}
    <div class="day">
      {{week}}
    </div>
    <ul>
      {{#each schedule as |event|}}
        <li>
          {{#link-to 'notices.show' event.id}}
            {{date-format event.date 'h:mmA'}} - {{event.title}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  {{/each-in}}
</div>
