<div id="sunday" class="container-fluid bg-template">
  <div class="row">
    <div class="col">
      <div class="service-times card card-square text-white bg-template">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              Sunday<span class="hide">, 15 April -</span> 10:30AM
            </div>
            <div class="col-6">
              <span class="float-right">
                <span class="hide">Speaker - </span>Bruce Bell
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
