<div id="sunday" class="container-fluid bg-template">
  <div class="row">
    <div class="col">
      <div class="service-times card card-square text-white bg-template">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              {{date-format service.date 'dddd'}}<span class="hide">, {{date-format service.date 'D MMM'}} |</span> {{date-format service.date 'hh:mmA'}}
            </div>
            <div class="col-6">
              <span class="float-right">
                <span class="hide">Speaker - </span>{{service.speaker}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
