#admin {
  .edit-cat {
    color: $template;
  }
  #edit {
    .saving {
      position: relative;
      span {
        color: $gray;
        position: absolute;
        bottom: -2em;
        right: 0;
        font-size: 14px;
        i {
          font-size: 20px;
          animation-name: spin;
          animation-duration: 1000ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
    heading {
      h1 {
        i {
          color: $gray;
          cursor: pointer;
        }
      }
      .input-group {
        input {
          font-size: 21px;
          color: $gray-dark;
        }
      }
    }
    .content {
      .form-group {
        margin-bottom: 0;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
