/*
Notice styles
*/

#audios {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
  .badge {
    font-weight: $font-medium;
  }
  h3 {
    font-size: 16px;
    margin: .5em 0;
    a {
      font-weight: $font-bold;
      i {
        color: $template;
        vertical-align: text-bottom;
        font-size: 18px;
      }
    }
  }
  .body {
    font-size: 14px;
  }
  audio, video {
    display: block;
    margin-bottom: .5em;
    width: 100%;
    max-height: 300px;
  }
  .datestamp {
    text-transform: uppercase;
    padding: 0;
    font-size: 12px;
    font-weight: $font-thin;
    color: $gray;
  }
  .speaker {
    padding: 0;
    font-size: 12px;
    font-weight: $font-light;
    color: $gray-light;
    margin-left: .25em;
    a {
      text-decoration: underline;
      color: $gray;
    }
    i {
      font-size: 15px;
      vertical-align: text-bottom;
    }
  }
}
