@import "ember-basic-dropdown";

.image-upload {
  .img-display {
    img {
      max-height: 150px;
    }
  }
}
.dropdown-content-gallery {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  padding: 5px;
  margin: 2px 0 0;
  max-width: 720px;
  max-height: 400px;
  overflow-x: scroll;
  img {
    max-height: 100px;
  }
}
