/*
Colour variables
*/

$olive-dark: #182b00;
$olive: #46661e;
$olive-light: #759251;
$olive-lighter: #aac785;
$olive-lightest: #eef9e1;

$gray-darker: #333;
$gray-dark: #555;
$gray: #999;
$gray-light: #ccc;
$gray-lighter: #eee;

.bg-olive {
  background-color: $olive;
}
