/*
Colour variables
*/

$olive-dark: #2E4200;
$olive: #52661E;
$olive-light: #8DA847;
$olive-lighter: #C9D8A3;
$olive-lightest: #f7ffe4;

$gray-darker: #333;
$gray-dark: #555;
$gray: #999;
$gray-light: #ccc;
$gray-lighter: #eee;

.bg-olive {
  background-color: $olive;
}
