/*
Colour variables
*/

$olive-dark: #2E4200;
$olive: #52661E;
$olive-light: #8DA847;
$olive-lighter: #C9D8A3;

$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-lighter: #ccc;

.bg-olive {
  background-color: $olive;
}
