/*
Typography
 */

$font-thin: 100;
$font-light:300;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Libre Franklin","Helvetica Neue","Open Sans",Arial,sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: $font-medium;
  margin: 30px 0 15px;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 26px;
}

h3, .h3 {
  font-size: 22px;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
}

h4.home {
  font-weight: $font-thin;
}

h5, .h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: $font-light;
  line-height: 1.5;
}

a {
  color: $template-light;
  font-weight: 300;
  &:hover {
    color: $template;
    text-decoration: none;
  }
}
