{{!-- <div class="col-md-2 bg-light sidebar">
  <ul class="nav flex-column mt-4 mb-2 text-muted">
    <li class="nav-item">
      {{#link-to 'admin.edit' class="nav-link" }}
        <i class="material-icons">create</i> Create new content
      {{/link-to}}
    </li>
  </ul>
</div> --}}
<main role="main" class="col-md-10 ml-sm-auto">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 mr-auto">All content</h1>
    <div class="mr-2">
      Add new:
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-primary mr-1">Message</button>
      <button type="button" class="btn btn-primary mr-1">Notice</button>
      <button type="button" class="btn btn-primary mr-1">Ministry</button>
      <button type="button" class="btn btn-primary mr-1">About</button>
    </div>
  </div>
  <div class="list-group">
    {{#each contents as |content|}}
      {{#link-to 'index' class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"}}
        {{content.editCat}} - {{content.title}}
        <span class="badge badge-primary badge-pill">1</span>
      {{/link-to}}
    {{/each}}
  </div>
</main>
