<h2>People</h2>
<h3>Andrea Rounthwaite</h3>
<p>
  I'm delighted to be part of The Olive Tree. What I hope to bring to this team is my heart for the broken-hearted in this community. I am a counsellor, Life Coach, Behavioural Analyst and Pastor. I have worked in the area of Recovery for over 30 years, specialising in relationships and addiction. I'm presently directing the programme "Celebrate Recovery" and "Boundaries." Jesus said He heals and hears the broken hearted, and I pray He will continue to empower me to bring His desire to this community.
</p>
<h3>Bruce Bell</h3>
<p>
  My background was as a lawyer before moving to work in the areas of law enforcement and defence.  I have always had a passion for the Word of God and this led to further study in theology and biblical studies.  As well as a degree in Law I also have a Post Graduate Diploma in Theology and a PhD in Theology.  I was the teaching pastor at another church before becoming part of the team at The Olive Tree.  I have an abiding interest in philosophy/worldviews, history, science and hermeneutics (interpreting scripture).  Apart from shepherding God’s people on a daily basis and watching them grow and develop, I love nothing more than being able to preach and teach His Word.
</p>
{{log people person model}}
