<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item">
            {{#link-to 'about.story' class='nav-link'}}
              Our story
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'about.statement' class='nav-link'}}
              Statement of Faith
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'about.people' class='nav-link'}}
              Our people
            {{/link-to}}
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
