<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Publishing</span>
        </h6>
        <ul class="nav flex-column mt-2 mb-1 text-muted">
          {{!-- <li class="nav-item">
            {{#link-to 'admin.edit' class="nav-link" }}
              <i class="material-icons">create</i> Create new content
            {{/link-to}}
          </li> --}}
          <li class="nav-item">
            {{#link-to 'admin.content' class="nav-link" }}
              <i class="material-icons">description</i> Content
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'admin.settings' class="nav-link" }}
              <i class="material-icons">person</i> Staff
            {{/link-to}}
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Application</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            {{#link-to 'admin.settings' class="nav-link" }}
              <i class="material-icons">settings</i> Settings
            {{/link-to}}
          </li>
        </ul>
      </div>
    </nav>

    {{outlet}}

  </div>
</div>
