{{nav-header church=church pages=pages}}

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Something went wrong</h1>
        <p>Sorry but something went wrong with your request.</p>
      </div>
    </div>
  </div>
</div>

{{nav-footer church=church}}
