<div class="main mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash class="mt-3 mb-0"}}
        {{/each}}
        <div class="row">
          <div class="col-md-4 mx-auto mt-5">
            <div class="card rounded-0">
              <div class="card-header">
                <h1 class="m-0">Send password reset link</h1>
              </div>
              <div class="card-body">
                <form class="form" role="form" id="formLogin" {{action 'resetPassword' email on='submit'}}>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    {{input type="text" class="form-control form-control-lg rounded-0" value=email name="email" id="email" required=true}}
                    <div class="invalid-feedback">Enter your email address</div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary" id="btnLogin">Reset password</button>
                </form>
                <div class="pt-3 mt-4 border-top">
                  {{#link-to 'login'}}
                    Login
                  {{/link-to}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
