<div class="main">

  {{slide-carousel id="home-carousel" slides=slides}}

  <div class="container-fluid bg-olive">
    <div class="row">
      <div class="col">
        <div class="service-times card card-square text-white bg-olive">
          <div class="card-body">
            <div class="row">
              <div class="col">
                Sunday, 15 April - 10:30AM
              </div>
              <div class="col">
                <span class="float-right">
                  Speaker - Bruce Bell
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {{#if newsFeed}}
        <div class="col-md-6">
          <h4 class="home">Notices</h4>
          <hr>
          {{notice-summary notices=newsFeed}}
        </div>
      {{/if}}
      <div class="col-md-6">
        <h4 class="home">Messages</h4>
        <hr>
        {{media-audio audios=audios}}
      </div>
    </div>
  </div>

  <hr>

  {{address-map }}

</div>
{{!-- End .main --}}
