<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Media</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{media-audio audios=model}}
      </div>
    </div>
  </div>
</div>
