<div class="main">
  <div class="container-fluid">
    <div class="row">
      {{#each model as |ministry|}}
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{ministry.image}} alt={{ministry.title}} >
            <div class="card-body">
              <h5 class="card-title">{{ministry.title}}</h5>
              <p class="card-text">{{ministry.body}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
