{{nav-header church=church pages=pages}}

<div id="ministry" class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="border-bottom">{{model.title}}</h1>
        <p>{{{model.text}}}</p>
      </div>
    </div>
  </div>
</div>

{{nav-footer church=church}}
